<header>
    <div class="list-media">
        <div class="media-tv">
            <img class="media" src="../image/netflix.png" alt="">
        </div>
        <div class="media-tv">
            <img class="media" src="../image/hulu.png" alt="">
        </div>
        <div class="media-tv">
            <img class="media" src="../image/apple-tv.png" alt="">
        </div>
        <div class="media-tv">
            <img class="media" src="../image/disney.jpg" alt="">
        </div>
        <div class="media-tv">
            <img class="media" src="../image/HBO max.png" alt="">
        </div>
        <div class="media-tv">
            <img class="media" src="../image/plus.png" alt="">
        </div>
    </div>
    <div class="menu">
        <div class="container-menu">
            <div class="menu-category">
                <h1>MENU</h1>
                <a href="/" class="far fa-home icon">
                    <h2>Home</h2>
                </a>
                <a class="far fa-compass icon">
                    <h2>Discovery</h2>
                </a>
                <a class="far fa-users icon">
                    <h2 style=" margin-left: -4px;
                    background: transparent;">Community</h2>
                </a>
                <a class="far fa-alarm-plus icon">
                    <h2>Comming soon</h2>
                </a>
            </div>
        
            <div class="library-category">
                <h1>LIBRARY</h1>
                <a class="far fa-clock icon">
                    <h2>Recent</h2>
                </a>
                <a class="far fa-bookmark icon">
                    <h2 style="margin-left: 5px;
                    background: transparent;">Bookmarked</h2>
                </a>
                <a class="far fa-star icon">
                    <h2>Top rated</h2>
                <ai>
                <a class="far fa-cloud-download-alt icon">
                    <h2 style="margin-left: -4px;
                    background: transparent;">Downloaded</h2>
                </a>
            </div>
    
            <div class="setting-category">
                <a class="far fa-cog icon">
                    <h2>Setting</h2>
                </a>
                <a class="far fa-info-circle icon">
                    <h2>Help</h2>
                </a>
            </div>
        </div>
    </div>
</header>